nav img {
    width: 75px;
    height: auto;
    border-radius: 45%;
    margin-left: 1em;
    margin-top: .5em;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
nav ul li a {
    display: block;
    font-family: 'Serifa Bold', 'Mortise';
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0;
    margin-top: -70px;
    color: #A0A0A0;
} 
nav ul li a:hover {
        color: #151575;
}
a:link {
    color: #A0A0A0;
}
a:visited {
    color: #151575;
}
.nav-links {
    list-style: none;
    display: flex;
   gap: 2rem;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    min-width: 180px;
    flex-direction: column;
}
.dropdown-menu li {
    width: 100%;
}
.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
.dropdown:hover .dropdown-menu {
    display: flex;
}